@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* header */
.navbar-nav {
  flex-direction: row;
}

.navbar-light {
  background-color: #e3f7fd;
}

.line {
  width: 1447.75px;
  height: 6px;
  left: 3.02px;
  top: 86px;

  background: linear-gradient(
    81.48deg,
    #5954a4 3.42%,
    rgba(138, 84, 162, 0.51) 43.85%,
    #8ad5eb 81.83%
  );
  transform: matrix(1, 0, 0, 1, 0, 0);
}

a.link-menu {
  margin-left: 1.2em;
  margin-right: 1.2em;
  color: white;
  padding: 0.2em;
}

a.link-menu:hover {
  font-size: 1.1em;
  background-color: #5954a4;
}

/* intro */

/* .jumbotron {
  background-image: url("../images/testbackground3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  box-shadow: none;
}

@media only screen and (max-width: 760px) {
  .jumbotron {
    height: 100vh;
  }
} */

.up-left {
  position: absolute;
  bottom: -40px;
}
.up-right {
  position: absolute;
  bottom: -40px;
  right: 0;
  transform: rotateY(180deg);
}

.down-left {
  position: absolute;
  top: -40px;
  transform: rotateX(180deg);
}

.down-right {
  position: absolute;
  top: -40px;
  transform: rotateY(180deg) rotateX(180deg);
}

#intro {
  position: relative;
  background: #04254e;
  /* background: #1c2a48; */
  /* background: #5954a4;
  background: #8a54a2; */
  height: 90vh;
}

#intro h2 {
  font-size: 3em;
  font-weight: bolder;
  color: white;
  padding: 0.5em;
}

#intro h5 {
  color: white;
}
.intro-content {
  position: relative;
  top: 50%;
  transform: translateY(-45%);
  text-align: center;
}

#projects {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* #intro .view {
  background-image: url("../images/testbackground3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
} */

#intro h6 {
  line-height: 1.7;
}

.hand {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  animation: waving 1s linear 1s 12 alternate;
}

@keyframes waving {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(60deg);
  }
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  text-align: center;
}

.social-links a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transtion: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #04254e;
  margin-right: 1rem;
}

.social-links div {
  margin-left: 2rem;
}

.social-links a:active,
.social-links a:focus,
.social-links a:hover {
  background-color: hsl(244, 32.3%, 48.6%);
}

footer {
  background: #04254e;
}
