@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* header */
.navbar-nav {
  flex-direction: row;
}

/* intro */

#apppage .view {
  background-image: url("../images/testbackground3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

.hand {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  animation: waving 1s linear 1s 12 alternate;
}

@keyframes waving {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(60deg);
  }
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  text-align: center;
}

.social-links a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transtion: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #04254e;
  margin-right: 1rem;
}

.social-links div {
  margin-left: 2rem;
}

.social-links a:active,
.social-links a:focus,
.social-links a:hover {
  background-color: hsl(244, 32.3%, 48.6%);
}
